<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon1.ico"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/common.css">

    <link rel="stylesheet" href="/static/layui/extend/dtree.css">
    <link rel="stylesheet" href="/static/layui/extend/font/dtreefont.css">

</head>

<body>

    <div class="yadmin-body animated fadeIn">
        <table class="layui-hide" id="user-table"></table>
    </div>
    <script type="text/html" id="toolbar">
        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
            <i class="layui-icon layui-icon-addition"></i>
            新增
        </button>
    </script>


    <script src="/static/js/jquery.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/common.js"></script>

    <script>
        layui.config({
            base: '/static/layui/extend/'
        }).use(['table', 'element', 'form', 'dtree', 'tablePlug'], function () {
            var table = layui.table;
            var $ = layui.$;
            var form = layui.form;
            var dtree = layui.dtree;
            var tablePlug = layui.tablePlug;

            tablePlug.smartReload.enable(true);

            dtree.on("node('deptTree')" ,function(obj) {
                var typeDom = layui.$('#deptId');
                console.log(typeDom.val() , obj.param.nodeId);
                console.log(typeDom.val() === obj.param.nodeId);
                if (typeDom.val() === obj.param.nodeId) {
                    typeDom.val('');
                    layui.$("input[dtree-id='deptTree']").val('请选择');
                } else {
                    typeDom.val(obj.param.nodeId)
                }
            });

            table.render({
                elem: '#user-table',
                url: '/getUserList',
                page: true,
                toolbar: '#toolbar',
                smartReloadModel: true,
                cols: [
                    [
                        {type: 'numbers', title: '序号', width: 60},
                        {field: 'uid', title: 'UID', minWidth: 160,hide: true},
                        {field: 'nickname', title: '用户名', minWidth: 160},
                        {field: 'phone', title: '手机', minWidth: 160},
                        {field: 'loginDate', title: '最后登陆时间',align: 'center', width: 180},
                        {field: 'method_L', title: '操作方式', align: 'center', width: 100},
                        {field: 'note', title: '备注', minWidth: 160},
                    ]
                ]
            });

            // 工具条点击事件
            table.on('toolbar', function (obj) {
                var data = obj.data;
                var event = obj.event;

                if (event === 'add') {
                    layer.open({
                        content: "/user_add",
                        title: "新增用户",
                        area: ['40%', '85%'],
                        type: 2,
                        maxmin: true,
                        shadeClose: true
                    });
                }
            });

        });
    </script>
</body>
</html>